/*-------------This styles the animated bar chart--------------*/

/*----------This style the standard html doc elements-----------*/

body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8e0de+0,aebfbc+22,99afab+33,8ea6a2+50,829d98+67,4e5c5a+82,0e0e0e+100;Grey+3D */
    background: #d8e0de; /* Old browsers */
    background: -moz-linear-gradient(top,  #d8e0de 0%, #aebfbc 22%, #99afab 33%, #8ea6a2 50%, #829d98 67%, #4e5c5a 82%, #0e0e0e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 82%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 82%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e0de', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

}

h1{
    font:bold 50px Helvetica, Arial, Sans-serif;
    text-align: center;
    color:#000;
    text-shadow: 0px 2px 6px #dadada;

}

h1 small{
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 14px;
    display:block;
    color:#000;
    text-shadow: 0px 2px 6px #dadada;
    margin-top:10px;


}
/*
h2 a{
    display:block;
    text-decoration: none;
    margin: 0 0 30px 0;
    font:italic 40px Georgia,Times, Serif;
    text-align:center;
    color:#bfe1f1;
    text-shadow: 0px 2px 6px #333;

}
h2 a:hover{

    color:#90bcd0;
}*/

.break{
    clear:both;
}

#wrapper{
    width:800px;
    margin:40px auto
}

#content h2{
    font:bold 30px Helvetica, Arial, Sans-serif;
    color:#dadada;
    text-shadow: 0px 2px 6px #333;
    margin-left: 400px;
    padding-top:20px;
}

/*-----------------------------This is the actual bar chart styling-------------*/



#bar{
    list-style:none;

}

/*-----------------bottom list item need shadow-----------*/


#bar li div.bottom{

    box-shadow: 0 10px 30px hsla(0,0%,0%,.2);
}


/*--------------elipse top-------------*/

#bar li div.top {
    background-color: rgba(213, 238, 241, 0.5);
    position: relative;
    float: left;
    margin-left: 10px;
    width: 40px;
    height: 100px;
    border-radius: 40px/100px;

}

#bar li div.top img{
    margin-left:10px;
    margin-top:15px;

}

#bar li div.bottom{
    position:relative;
    margin:5px 0;
    width:50px;
    height:100px;
    border-radius: 40px/100px;

}
#bar li div.bottom div.infobox{
    padding:40px 0 0 600px;
}
#bar li div.bottom div.infobox h3{

    font-family: Georgia,serif,Times;
}
#bar li div.bottom div.infobox p{

    font-family:"Lucida Grande", Arial,Helvetica,Sans-Serif;
    opacity:0;


}


/*--------------------This styles the hover actions------------------*/


#bar li:hover div.bottom div.infobox{
    color:#eee;
    text-shadow: 0px 5px 5px #111;

}
#bar li:hover div.bottom div.infobox p {
    opacity:1;

}


/*------------------current member bar----------------------*/

#curMem div.top{
    z-index:99;


}

#curMem div.bottom{
    z-index:98;
    height:150px;
}
#curMem:hover div.top{
    z-index:999;
    background-color:#8accf9;
    margin-left: 160px;

}

#curMem:hover div.bottom{
    z-index:998;
    background-color:#199cf4;
    width:200px;

}


/*------------------------this styles the memberships bar-------------*/




#avaMem div.top{
    z-index:97;


}

#avaMem div.bottom{
    z-index:96;
    height:200px;
}
#avaMem:hover div.top{
    z-index:997;
    background-color:#d98f23;
    margin-left: 210px;

}

#avaMem:hover div.bottom{
    z-index:996;
    background-color:#b6781e;
    width:250px;

}



/*-------------------------------This styles the dojo capacity bar-------------*/






#cap div.top{
    z-index:95;


}

#cap div.bottom{
    z-index:94;
    height:250px;
}
#cap:hover div.top{
    z-index:995;
    background-color:#98f9b4;
    margin-left: 270px;

}

#cap:hover div.bottom{
    z-index:994;
    background-color:#06fc4b;
    width:310px;

}

/*------------------This styles the dojo logo at the bottom------------*/


#drag{

    clear:both;
    margin-top:70px;
    position:relative;
    z-index:-999;
}

#drag p{
    color:#dadada;
    margin-left: 80%;
    margin-bottom:30%;
    width:400px;
    overflow:auto;

}



#kick,#chair,#drag1{
    padding-top: 15px;

}


a{
    color:#dadada;
    margin-left: 40%;
    margin-bottom: 40%;


}

a:hover{

    color:#00FF00;
}
/*-----------------This styles the button--------------------*/

#But3 {
    float:right;
    margin-right:30%;
    font-size: 20pt;
    font-weight: bold;
    background-color:#699744;
    border-radius:6px;
    width:35%;
    height:70px;
    text-align: center;

    margin-top:3%;
    box-shadow: 0 2px 6px #000;
}
#But3:hover{
    transform: skewX(20deg);
    background-color:#00FF00;
}
#But3 a{
    margin-left:3%;
    padding:0 0 auto auto;
    color:#FFFFFF;



}