
doctype html.(class='“no-js”', lang='en')
head
    meta(charset='UTF-8')
    title
    script(type='text/javascript', src='js/jquery-1.11.3.min.js')
    link(rel='stylesheet', href='js/gallery/source/jquery.fancybox.css')
    link(rel='stylesheet', href='js/gallery/source/helpers/jquery.fancybox-thumbs.css', type='text/css', media='screen')
    link(rel='stylesheet', href='js/gallery/source/helpers/jquery.fancybox-buttons.css', type='text/css', media='screen')
    link(rel='stylesheet', href='css/style4.css')
    link(rel='stylesheet', href='css/animate.css')
    script(type='text/javascript', src='js/gallery/source/jquery.fancybox.js')
    script(type='text/javascript', src='js/gallery/source/helpers/jquery.fancybox-buttons.js')
    script(type='text/javascript', src='js/gallery/source/helpers/jquery.fancybox-media.js')
    script(type='text/javascript', src='js/gallery/source/helpers/jquery.fancybox-thumbs.js')
    script(type='text/javascript', src='js/gallery/source/jquery.fancybox.pack.js')
    script(type='text/javascript', src='js/main.js')
body
    h2.animated.rubberBand Welcome to Anthracite Glassworks Photo Gallery!
    p
        a.fancybox(rel='group', href='img/BigPics/1.JPG')
            img(src='img/SmallPics/1.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/2.JPG')
            img(src='img/SmallPics/2.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/3.JPG')
            img(src='img/SmallPics/3.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/4.JPG')
            img(src='img/SmallPics/4.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/5.JPG')
            img(src='img/SmallPics/5.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/6.JPG')
            img(src='img/SmallPics/6.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/7.JPG')
            img(src='img/SmallPics/7.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/8.JPG')
            img(src='img/SmallPics/8.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/9.JPG')
            img(src='img/SmallPics/9.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/10.JPG')
            img(src='img/SmallPics/10.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/11.JPG')
            img(src='img/SmallPics/11.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/12.JPG')
            img(src='img/SmallPics/12.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/13.JPG')
            img(src='img/SmallPics/13.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/14.JPG')
            img(src='img/SmallPics/14.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/15.JPG')
            img(src='img/SmallPics/15.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/16.JPG')
            img(src='img/SmallPics/16.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/17.JPG')
            img(src='img/SmallPics/17.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/18.JPG')
            img(src='img/SmallPics/18.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/19.JPG')
            img(src='img/SmallPics/19.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/20.JPG')
            img(src='img/SmallPics/20.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/21.JPG')
            img(src='img/SmallPics/21.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/22.JPG')
            img(src='img/SmallPics/22.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/23.JPG')
            img(src='img/SmallPics/23.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/24.JPG')
            img(src='img/SmallPics/24.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/25.JPG')
            img(src='img/SmallPics/25.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/26.JPG')
            img(src='img/SmallPics/26.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/27.JPG')
            img(src='img/SmallPics/27.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/28.JPG')
            img(src='img/SmallPics/28.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/29.JPG')
            img(src='img/SmallPics/29.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/30.JPG')
            img(src='img/SmallPics/30.JPG', alt='')
        a.fancybox(rel='group', href='img/BigPics/31.JPG')
            img(src='img/SmallPics/31.JPG', alt='')
    button#retBut1
        a(href='index.html') Click Here To Go Home
    script.
        $(document).ready(function() {
            $('.fancybox').fancybox({
                padding : 0,
                openEffect  : 'elastic'
            });
            $('.fancybox-buttons').fancybox({
                openEffect: 'none',
                closeEffect: 'none',
                prevEffect: 'none',
                nexteffect: 'none',
                closeBtn: true,
                helpers: {
                    title: {
                        type: 'inside',
                    },
                    buttons: {}
                }
            });
        });
