doctype html.(class='“no-js”', lang='en')
head
    meta(charset='UTF-8')
    |
    title
    |
    link(rel='stylesheet', href='css/style5.css')
body
    img#logo(src='img/logo.png')
    script(src='js/jquery-1.11.3.min.js')
    script(src='js/main.js')
