doctype html
html
    head
title = "Anthracite Glassworks"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/animate.css')
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/style2.css', rel='stylesheet')
    img#logo(src='images/logo.png')
    h2#head2.animated.rubberBand Anthracite Glassworks
    h2.animated.bounceInDown Currently teaching classes!
    br
    nav#navBar
        strong
            ul#navMen
                li#nav1
                    a#a1(href='layout.jade')   Home
                li#nav2
                    a#a2(href='layout2.jade')  Page 2
                li#nav3
                    a#a3(href='index3.html')   Artists
                li#nav4
                    a#a4(href='index4.html')   Gallery
                li#nav5
                    a#a5(href='index5.html')   Chat
                li#nav6
                    a#a6(href='index6.html')  Feedback
        body
            br
            br
