doctype html
html
    meta(charset='utf-8')
    link(rel='stylesheet', href='stylesheets/style6.css')
    // link to style sheet
    link(href='http://fonts.googleapis.com/css?family=Rock+Salt', rel='stylesheet', type='text/css')
    // font reference
    img#logo(src='images/logo.png')
    head
    // head opener
    title Anthracite Artist Spotlight
    // Title in the tab
    header
    blockquote
        strong
        q IT'S IMPOSSIBLE.
        |  SAID PRIDE.
        br
        q IT'S RISKY.
        |  SAID EXPERIENCE.
        br
        q IT'S POINTLESS
        |  SAID REASON.
        br
        q GIVE IT A TRY
        br
        | WHISPERED THE HEART.

    nav#navBar
        strong
            ul#navMen
                li#nav1
                    a#a1(href='/')   Home
                li#nav2
                    a#a2(href='/globe')  Global Map
                li#nav3
                    a#a3(href='/artists')   Artists
                li#nav4
                    a#a4(href='/gallery')   Gallery
                li#nav5
                    a#a5(href='/chat')   Chat
                li#nav6
                    a#a6(href='/feedback')  Feedback


    body
        h4
            strong ARTIST SPOTLIGHT

        legend#legend1
            strong
                p
                | CARRIE is as talented as she is beautiful. She brings fifteen years of
                br
                | experience to the table and a passion for stained glass that is
                br
                | second only to the big dogs such as corning. She has an extensive
                br
                | portfollio and it is my honor to show you some of her magnificant works.
                br
            img#image1(src='images/carrie.png')




        legend#legend2
            strong
                p
                | Judd is as talented as she is beautiful. She brings fifteen years of
                br
                | experience to the table and a passion for stained glass that is
                br
                | second only to the big dogs such as corning. She has an extensive
                br
                | portfollio and it is my honor to show you some of her magnificant works.
                br
            img#image2(src='images/judd.jpg')

