doctype html
html
  head
    title= title
    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')

  body
    block content
