doctype html
html
  head
    title = "Anthracite Glassworks"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/animate.css')
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')


    img#logo(src='images/logo.png')
    h2#head2.animated.rubberBand Anthracite Glassworks
    h2.animated.bounceInDown Currently teaching classes!
    br
  nav#navBar
    strong
      ul#navMen
        li#nav1
          a#a1(href='index.jade')   Home
        li#nav2
          a#a2(href='index2.jade')  Global Map
        li#nav3
          a#a3(href='index3.html')   Artists

        li#nav4
          a#a4(href='index4.html')   Gallery
        li#nav5
          a#a5(href='index5.html')   Chat
        li#nav6
          a#a6(href='index6.html')  Feedback
    body




      br
      br
      h5#text
        p
          strong
            q
              | The term stained glass can refer to coloured glass as a material or to works created
              | from it. Throughout its thousand-year history, the term has been applied almost exclusively to
              | the windows of churches, mosques and other significant buildings. Although traditionally made in
              | flat panels and used as windows, the creations of modern stained glass artists also include three-dimensional
              | structures and sculpture.

        p
          strong
            q
              | Modern vernacular usage has often extended the term "stained glass" to
              | include domestic leadlight and objets d'art created from came glasswork exemplified in the famous
              | lamps of Louis Comfort Tiffany. As a material stained glass is glass that has been coloured
              | by adding metallic salts during its manufacture. The coloured glass is crafted into stained
              | glass windows in which small pieces of glass are arranged to form patterns or pictures, held
              | together (traditionally) by strips of lead and supported by a rigid frame.
        p
          strong
            q
              | Painted details and
              | yellow stain are often used to enhance the design. The term stained glass is also applied to
              | windows in which the colours have been painted onto the glass and then fused to the glass in a kiln.
              | Stained glass, as an art and a craft, requires the artistic skill to conceive an appropriate
              | and workable design, and the engineering skills to assemble the piece.
        p
          strong
            q
              | A window must fit snugly
              | into the space for which it is made, must resist wind and rain, and also, especially in the
              | larger windows, must support its own weight. Many large windows have withstood the test of
              | time and remained substantially intact since the late Middle Ages.
        p
          strong
            q
              | In Western Europe they
              | constitute the major form of pictorial art to have survived. In this context, the purpose
              | of a stained glass window is not to allow those within a building to see the world outside
              | or even primarily to admit light but rather to control it. For this reason stained glass
              | windows have been described as 'illuminated wall decorations'.
        p
          strong
            q
              | The design of a window may be abstract or figurative; may incorporate narratives drawn
              | from the Bible, history, or literature; may represent saints or patrons, or use symbolic
              | motifs, in particular armorial. Windows within a building may be thematic, for example:
              | within a church - episodes from the life of Christ; within a parliament building - shields
              | of the constituencies; within a college hall - figures representing the arts and sciences;
              | or within a home - flora, fauna, or landscape. Stained glass is still popular today, but
              | often referred to as art glass. It is prevalent in luxury homes, commercial buildings, and places
              | of worship. Artists and companies are contracted to create beautiful art glass ranging from
              | domes, windows, backsplashes, etc.
      h6
        | Please Feel Free To Follow Us On
        a(href='https://www.facebook.com/profile.php?id=100015280714755&hc_ref=SEARCH')  FACEBOOK
    legend
      h3
        | Please browse a few of our photos from our award winnning artists!
      button#retBut
        a(href='layout4.jade') Check out our Photos

          script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
          script(src='javascript/bootstrap.js')

        block content




