doctype html
html
    meta(charset='utf-8')
    link(rel='stylesheet', href='stylesheets/style6.css')
    // link to style sheet
    link(href='http://fonts.googleapis.com/css?family=Rock+Salt', rel='stylesheet', type='text/css')
    // font reference
    img#logo(src='images/logo.png')
    head
    // head opener
    title Anthracite Artist Spotlight
    // Title in the tab
    header
    blockquote
        strong
        q IT'S IMPOSSIBLE.
        |  SAID PRIDE.
        br
        q IT'S RISKY.
        |  SAID EXPERIENCE.
        br
        q IT'S POINTLESS
        |  SAID REASON.
        br
        q GIVE IT A TRY
        br
        | WHISPERED THE HEART.

    nav#navBar
        strong
            ul#navMen
                li#nav1
                    a#a1(href='/')   Home
                li#nav2
                    a#a2(href='/globe')  Global Map
                li#nav3
                    a#a3(href='/artists')   Artists
                li#nav4
                    a#a4(href='/gallery')   Gallery
                li#nav5
                    a#a5(href='/chat')   Chat
                li#nav6
                    a#a6(href='/feedback')  Feedback


    body
        h4
            strong ARTIST SPOTLIGHT

        legend#legend1
            strong
                p
                | CARRIE is as talented as she is beautiful. She brings fifteen years of
                br
                | experience to the table and a passion for stained glass that is
                br
                | second only to the big dogs such as corning. She has an extensive
                br
                | portfollio and it is my honor to show you some of her magnificant works.
                br
            img#image1(src='images/carrie.png')
            aside
            img#img1(src='images/1.JPG')
            img#img2(src='images/2.JPG')
            img#img3(src='images/3.JPG')
            img#img4(src='images/4.JPG')
            img#img5(src='images/5.JPG')
            img#img6(src='images/6.JPG')




        legend#legend2
            strong
                p
                | Judd is new to the scene of stained glass but aspires to learn lampworking,
                br
                | which is just fancy talk for making glass beads. He then he wants to learn glassblowing.
                br
                | Judds goal is to start off slow learning the really cool techniques of lampworking
                br
                | and eventually encorporate those techniques into blowing magnificant glass pieces.
                br
                | And once again it is our honor to showcase some of Judds artwork that has led him to path he is on now.
                br
            img#image2(src='images/judd.jpg')
            aside
            img#img7(src='images/7.JPG')
            img#img8(src='images/8.JPG')
            img#img10(src='images/10.png')
            img#img11(src='images/11.png')
            img#img9(src='images/9.png')
